<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
    </style>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Edit the Plan</title>
  </head>
  <body>
    <header>
      <h1><%=plan.name%></h1>
      <nav>
        <a href="/plans"><button>Back to Planner</button></a>
      </nav>
    </header>
    <div class="container">
      <form id="edit-plan" action="/plans/<%=plan._id%>?_method=PUT" method="POST">
        <label>Name : </label><input placeholder="Plan name here" type="text" name="name" value="<%=plan.name%>" /><br/>
        <label>Description : </label><input placeholder="Write a Description" type="text" name="description" value="<%=plan.description%>" /><br/>
        <label>Importance : </label><input placeholder="How important?" type="text" name="importance" value="<%=plan.importance%>" /><br/>
        <label>Deadline : </label><input placeholder="When?" type="text" name="deadline" value="<%=plan.deadline%>" /><br/>
        <label>Progress : </label><input placeholder="Progress?" type="text" name="progress" value="<%=plan.progress%>" /><br/>
        <input id="save-changes" type="submit" value="Save Changes"/>
      </form>
    </div>
  </body>
</html>
